<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ceshigit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F100E3D1CF2E0500042F2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F100E561CF2E0510042F2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F100E611CF2E0510042F2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
